* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.nav-bar {
  background: linear-gradient(90deg, #41b782, #86d169);
  height: 60px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: row;
}

.product-image,
.product-info {
  width: 50%;
}

.product-info {
  padding: 12px;
}

.product-info h1,
.product-info > div {
  margin: 6px 0;
}

.product-info > p {
  margin-bottom: 8px;
}

.product-info ul {
  margin-left: 24px;
}

.product-info button {
  border-radius: 10px;
  padding: 4px 6px;
}

.product-info .cart {
  display: inline-block;
  border: 1px solid #aaa;
  padding: 12px 16px;
  margin: 0 0 0 10px;
}

.product-image img {
  width: 100%;
}

@media (max-width: 600px) {
  .product {
    display: flex;
    flex-direction: column;
  }
  .product-image,
  .product-info {
    width: 100%;
    text-align: center;
  }
}
